<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: gainsboro;
      }
      .container {
        margin: 5%;
      }
      canvas {
        margin-right: 5%;
      }
      .actions {
        margin-bottom: 5%;
      }
    </style>
  </head>
<body>

  <div class="container">
    <canvas id="canvas" width="640" height="640" style="float:left"></canvas>
    <div style="float:left">    
    </div>
  </div>

  <!-- <script src="assets/js/compress.js"></script> -->
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="assets/js/new640.js"></script>
</body>

</html>
